/* OrderSummary.module.css Adjustments */

.main {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 2rem;
  gap: 1rem;
  max-width: 100%;
  min-width: 100%;
  width: 900px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  border-radius: 8px;
  background-color: var(--c4);
  align-items: stretch;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--c2);
  border-radius: 5px;
  /* box-shadow: 0 2px 4px var(--c1); */
}

.orderSummaryHeader {
  color: var(--c3);

  font-size: 1.75rem;
  font-weight: bold;
  color: var(--c3);
  text-align: center;
  margin-bottom: 0;
  /* Remove bottom margin to close gap */
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--c3);
}

.orderList {
  color: var(--c1);

  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  overflow-y: auto;
  width: 100%;
  background-color: var(--c2);
  padding: 1rem;
  border-radius: 8px;
}

.orderItem {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--c2);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); */
  min-width: 100px;
}

.total {
  font-size: 1.25rem;
  font-weight: medium;
  color: var(--c3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  border-top: 2px dashed var(--c3);
  margin-top: auto;
  /* Pushes the total to the bottom */
}

/* Add this container style to your existing CSS */
.buttonsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* Ensure it spans the full width of its parent container */
}

.confirmOrderButton,
.goBackButton {
  padding: 10px 15px;
  background-color: var(--c4);
  color: var(--c3);
  border-radius: 10px;
  border-color: var(--c7);
  border-style: solid;
  text-decoration: none;
  transition: 0.5s;
}

.goBackButton {
  align-self: flex-start;
}

.confirmOrderButton {
  align-self: flex-end;
}

.confirmOrderButton:hover,
.goBackButton:hover {
  background-color: var(--c6);
  color: var(--c4);
  transform: scale(1.1);
}

/* Adjust the container to accommodate the button and total placement */
.orderContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* New class to adjust layout if needed */
.orderDetails {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.removeButton {
  background-color: var(--c7);
  color: var(--c4);
  border-radius: 5px;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.removeButton:hover {
  background-color: var(--c6);
  color: var(--c4);
}