.weatherContainer {
    padding: 10px;
    margin-top: 20px;
    background-color: var(--c1);
    border-radius: 5px;
    text-align: center;
}

.weatherStatus {
    font-size: 18px;
    color: var(--c3);
}