.main {
    display: flex;
    margin: auto;
    padding: 1rem;
    gap: 1rem;
    height: 100vh;
}

.heading {
    color: var(--c6);
    text-align: center;
    padding: 10px 10px;
    font-size: 60px;
    text-decoration: underline;
}

.categoryContainer h2 {
    margin: auto;
    padding: 8px 8px;
    font-size: 40px;
    text-decoration: underline;
}

.items {
    margin: auto;
    padding: 5px 5px;
    font-size: 20px;
}

.itemImage {
    font-style: italic;
    color: var(--c5);
}
  
