.main {
  display: flex;
  margin: auto;
  padding: 1rem;
  gap: 1rem;
  min-height: 900px; /* Changed from height to min-height */
}


.heading {
    color: var(--c6);
    font-weight: bold;
    padding: 10px 10px;
    margin-top: 20px;
    font-size: 60px;
    text-align: center;
    text-decoration: underline;
}


.categoryContainer h2 {
    margin: auto;
    padding: 20px;
    gap: 20px;
    font-size: 40px;
    text-decoration: underline;
}

.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Creates four columns */
  gap: 20px; /* Keeps the gap between items */
  width: 100%; /* Maintains the full width */
  margin: auto; /* Centers the grid within its parent container */
  padding: 20px; /* Adds padding around the entire grid */
  overflow-y: auto; /* Enables vertical scrolling */
  overflow-x: auto;
  height: 900px; /* Example fixed height */
}
  
  .itemContainer {
    background-color: var(--c4);
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    border: 2px solid var(--c5);
    flex-wrap: wrap;
    justify-content: space-around;
    text-wrap: wrap;
    display: flex ;

    width: 400px;
    height: 400px;
  }
  
  .itemImage {
    width: 300px;
    height: 300px;
    border-radius: 8px;
  }
  
  .itemNamePrice {
    text-align: left;
    text-wrap: wrap;
    width: 100%;
    padding: 10px;
    padding-top: 10px;
  }
  
/* ANIMATIONS and EFFECTS */
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade {
    animation: fadeIn 1s ease-in-out;
  }