.popupBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  
  .popupContent {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 100;
  }
  /* button */
  .categoryButton {
    flex: 1 1 auto;
    width: 100%;
    padding: 1rem;
    border: 3px solid var(--c7);
    background-color: var(--c7);
    color: black;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
  }