.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex: 1;
  overflow-y: auto;
  /* Allows scrolling */
  padding: 1rem;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px 0;
  background-color: var(--c2);
  /* Or any color that matches your design */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 -2px 5px var(--c7);
  /* Optional: adds a slight shadow for depth */
}

.navButton {
  padding: 10px 15px;
  background-color: var(--c4);
  color: var(--c3);
  border-radius: 10px;
  border-color: var(--c7);
  border-style: solid;
  text-decoration: none;
  transition: 0.5s;
}

.navButton:hover {
  background-color: var(--c6);
  color: var(--c4);
  transform: scale(1.1);
}

.title {
  color: var(--c6);
  font-weight: bold;
  padding: 10px 10px;
  font-size: 60px;
  text-align: center;
  text-decoration: underline;

}

.inventoryTableContainer {
  max-height: 65vh;
  overflow-y: auto;
  border: 1px solid var(--c7);
}

.inventoryTable {
  width: 100%;
  border-collapse: collapse;
}

.inventoryTable th,
.inventoryTable td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid var(--c7);
}

.inventoryTable th {
  background-color: var(--c4);
  position: sticky;
  top: 0;
  z-index: 100;
}

.inventoryTable tr:nth-child(even) {
  background-color: var(--c2);
}