.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1rem;
  overflow: auto;
  /* Enables scrolling if content overflows */
}


.container {
  flex: 1;
  /* This should allow the container to expand, taking up all available space */
  display: flex;
  gap: 1rem;
  height: 90%;
  /* Other styles */
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  /* Adjust spacing as needed */
}

.navButton {
  padding: 10px 15px;
  background-color: var(--c4);
  color: var(--c3);
  border-radius: 10px;
  border-color: var(--c7);
  border-style: solid;
  text-decoration: none;
  transition: 0.5s;
}

.navButton:hover {
  background-color: var(--c6);
  color: var(--c4);
  transform: scale(1.1);
}